In [1]:
path = '/home/tony/workspace/web/cemetary_map/src/website/public/assets/plots.tsv'

import pandas as pd

df = pd.read_csv(path, sep='\t')
df.head()

      Plot    Deceased Name      Payer Account     Buried
0  A - 002  Leah Greenspoon     Abe Greenspoon  1995-12-28
1  A - 003   Abe Greenspoon     Abe Greenspoon  2012-09-20
2  A - 004     Arnold Wolff  Fay & Arnold Wolf  1996-01-01
3  A - 005        Fay Wolff  Fay & Arnold Wolf  2003-08-01
4  A - 006  Marilynn Greene    Marilynn Greene  2016-12-21

In [ ]:
df.to_csv('/home/tony/workspace/web/cemetary_map/src/website/public/assets/plots.csv', index=False)